.show {
    display: inline-block;
    width: 600px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.45);
    font-size: 14px;
    text-align: left;
    padding: 8px;
    line-height: 200%;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

.hide {
  display: none;
}